/* Add a black background color to the top navigation */
.tab-list{
  background-color: #272727;
  overflow: hidden;
  padding-left: 0;
  padding-top: 0;
  vertical-align: top;
}

/* Style the links inside the navigation bar */
.tab-list-item {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

/* Add a color to the active/current link */
.tab-list-active {
  background-color: #2b50aa;
  color: white;
}

.add_content {
  border: none;
  background-color: #2b50aa;
  border-radius: 200px;
  color: #f2f2f2;
  float: right;
  padding: 15px 15px;
  
}